@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&family=Righteous&display=swap");

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #d0ceba;
}

ul {
  align-content: center;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  text-decoration: underline;
  font-size: 1.5rem;
  color: #5e5768;
  border: 0.3rem solid #d0ceba;
}

ul:hover {
  cursor: pointer;
  animation: outline 1s ease-in-out infinite;
}

.dice:hover {
  // animation: rotate 900ms infinite;
  cursor: pointer;
}

#navContainer {
  display: flex;
}

#Nav {
  display: flex;
  padding: 1rem;
}
.title {
  font-family: "Encode Sans", sans-serif;
}

.input {
  border: none;
  background-color: rgba(201, 166, 166, 0.322);
  padding: 0.4rem;
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 200;
}

[class^="item-"] {
  padding: 0.5rem;
  text-align: center;
  font-family: "Righteous", cursive;
  border-right: 1px solid black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
}

[class^="item-"]:hover {
  cursor: pointer;
  color: #d0ceba;
  animation: fade 900ms forwards linear;
}

[id^="items-"] {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-family: "Antic Slab", serif;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  #navContainer {
    display: flex;
    flex-direction: column;
  }
  ul {
    padding: 0;
    margin: 0;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  #Nav {
    display: flex;
    flex-direction: column;
  }
}

@keyframes outline {
  0% {
    border-left: 0.3rem solid #5e5768;
  }
  25% {
    border-top: 0.3rem solid #5e5768;
  }
  75% {
    border-right: 0.3rem solid #5e5768;
  }
  100% {
    border-bottom: 0.3rem solid #5e5768;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  100% {
    background-color: black;
  }
}
